<footer class="bg-primary">
    <div id="footer-logo">
      <a href="#">
        <i class="bi bi-bootstrap-fill footer-logo" style="font-size: 3rem;"></i>
      </a>
    </div>
    <div class="footer-content">
      <div>
        <a href="#">
          プライバシーポリシー
        </a>
      </div>
      <div>|</div>
      <div>
        <a href="#">
           利用規約
        </a>        
      </div>
      <div>|</div>
      <div>
        <small>Copyright &copy; 2021 yulikepython</small>
      </div>
    </div>
  </footer>