{% extends "base.html" %}
{% block head_title %}
    {% if object %}
        日報「{{ object.title }}」の編集
    {% else %}
        日報の新規作成
    {% endif %}
{% endblock %}
{% block content %}
<div class="container my-3" style="max-width:700px;">
    <form method="POST"> {% csrf_token %}
        {% bootstrap_javascript jquery='full' %} 
        {{ form.media }}
        {{ form.as_p }}
        {% if object %}
            <button class="btn btn-primary form-control" type="submit">保存</button>
            <p class="my-3 text-danger" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#deleteModal-{{object.slug}}" style="cursor:pointer;display:inline-block;font-weight:700; font-size:12px;">
                <u>日報を削除する</u>
            </p>
        {% else %}
            <button class="btn btn-primary form-control" type="submit">登録</button>
        {% endif %}      
    </form>
    {% if object %}
        {% include 'nippo/nippo-delete.html' %}
    {% endif %}
</div>
{% endblock %}