{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans "Confirm E-mail Address" %}
{% endblock %}


{% block content %}
<div class="container my-5 bg-light p-4" style="max-width:450px;">
<p class="text-center">
  <b>{% trans "Confirm E-mail Address" %}</b>
</ｐ>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="text-center">
  {% blocktrans with confirmation.email_address.email as email %}Eメールアドレス：
    <a href="mailto:{{ email }}">{{ email }}</a>
    が、ユーザー「{{ user_display }}」さんのものであることを確認してください。
  {% endblocktrans %}
</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
  <button class="btn btn-primary form-control" type="submit">
    {% trans 'Confirm' %}
  </button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>
  {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
</p>

{% endif %}
</div>
{% endblock %}