{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="allauth_container">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset allauth_form">
        {% csrf_token %}
        <h2>{% trans "Password Reset" %}</h2>
        <p class="mb-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        {{ form | crispy }}
        <input class="btn btn-primary my-3 form-control" type="submit" value="{% trans 'Reset My Password' %}" />
        <p>
            パスワード設定のトラブルは<a href="#contact">こちら</a>までお問い合わせください
        </p>
    </form>
</div>
{% endblock %}