{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
  メールアドレスを確認してください
{% endblock %}

{% block content %}
<div class="container my-5 bg-light p-4" style="max-width:450px;">
  <p class="text-center">
    <b><u>確認用のメールを送信しました！</b></u>
  </p>
  <p>
    メールの有効性が確認できるまでユーザー登録は完了となりません。
    メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。
  </p>
  <div class="my-3">
    <a href={% url 'nippo-list' %} type="button" class="btn btn-danger form-control">トップへ</a>
  </div>
  <div class="text-right">
    <a href={% url 'account_login' %} class="my-4">メールか届かない(再送する)</a>
  </div>
</div>
{% endblock %}