body {
    background-color: rgb(164, 222, 243);
}
.allauth_container{
    width:80%;
    max-width:300px;
    margin:20px auto;
}

h2 {
    margin-bottom:30px;
    text-align:center;
}

.allauth_container .allauth_form {
    background-color:#f4f4f4;
    padding:30px 20px;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgb(68, 66, 66);
}

.allauth_form input {
    margin-bottom:20px;
}
.allauth_form span {
    font-size: 10px;
    text-align: right;
}

.allauth_form p {
    margin:5px 0;
    text-align: center;
    font-size:10px;
}